In [1]:
import pandas as pd

mydataset={
    'car':["Ford", "BMW", "Hyundai"],
    'passing':[3, 4,5]
}
mycar= pd.DataFrame(mydataset)
print(mycar)

       car  passing
0     Ford        3
1      BMW        4
2  Hyundai        5

## ggg

In [2]:
import pandas as pd

newdataset={
    'dog':["Munmun", "Floppy", "jimmy"],
    'friends':["Simona", "Smriti", "Kriti"]
}
dataset=pd.DataFrame(newdataset)
print(dataset)

      dog friends
0  Munmun  Simona
1  Floppy  Smriti
2   jimmy   Kriti

In [3]:
import pandas as pd

newdataset={
    'country':["America", "France", "Italy", "Switzerland", "Greece", "Vietnam"],
    'Color':["Red", "Green", "Pink", "Yellow", "Blue", "Sage Green"],
    'City':["Newyork", "Chicago", "Nashville", "Colorado", "Florida", "Los Angeles"]

}
df=pd.DataFrame(newdataset)
df.to_csv("data_newnew.csv", index=False)
print("CSV file created successfully")

CSV file created successfully

In [4]:
import pandas as pd
print(pd.__version__)

2.1.4

In [5]:
import pandas as pd
a=[1,3,4,-6]
myvar=pd.Series(a)
print(myvar)

0    1
1    3
2    4
3   -6
dtype: int64

In [6]:
import pandas as pd
a=[0,1,1,0,1,1]
mylist=pd.Series(a)
print(mylist)

0    0
1    1
2    1
3    0
4    1
5    1
dtype: int64

In [7]:
data=[10,20,30,40,50,60,70,80]
s=pd.Series(data, index=["a", "b", "c", "d", "e", "f", "g", "h"])
print(s)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

In [8]:
data=[2,3,45,6,7,8,9]
s=pd.Series(data, index=["s", "h", "a", "b", "n", "a", "m"])
print(s)

s     2
h     3
a    45
b     6
n     7
a     8
m     9
dtype: int64

In [9]:
import pandas as pd
data={
    "calories":[430, 230, 444, 111],
    "duration":[50,88,99,100]
}
df=pd.DataFrame(data)
print(df)
df.shape
df.info()

   calories  duration
0       430        50
1       230        88
2       444        99
3       111       100
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  4 non-null      int64
 1   duration  4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes

In [10]:
import pandas as pd

data=["Newyork", "Colorado", "Kansas", "Florida", "California"]
cities=pd.Series(data, index=[1,2,3,4,5])
print(cities)

1       Newyork
2      Colorado
3        Kansas
4       Florida
5    California
dtype: object

In [13]:
import pandas as pd
dataset= {
    'City':["Newyork", "Colorado", "Florida"],
    'color':["Red", "Pink", "Green"]
}
df=pd.DataFrame(dataset)
print(df)
df.shape

       City  color
0   Newyork    Red
1  Colorado   Pink
2   Florida  Green

(3, 2)

In [ ]:
import pandas as pd
df=pd.read_csv("csv_data/data.csv")
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv")
print(df)

In [14]:
import pandas as pd
df=pd.read_csv("csv_data/data.csv", usecols=["Age", "Color"])
print(df)

   Age    Color
0   21      Red
1   22     Pink
2   28    Black
3   35   Orange
4   23    Brown

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv", index_col="Name")
print(df)

In [ ]:
#reading liminted rows
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv", nrows=3)
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv", usecols=["Color"])
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv", skiprows=1)
print(df)

In [ ]:
#handling missing values:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\data.csv", na_values=["NA", ",Missing"])

print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\student.csv")
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\student.csv")
df['total'] = df['Math'] + df['Science'] + df['English']
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\student.csv")
df['Total']=df[['Math', 'Science', 'English']].sum(axis=1)
df['Average']=df['Total']/3
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\student.csv")
df['Total']=df[['Math', 'Science', 'English']].sum(axis=1)
df['Average']=df['Total']/3
top_students=df.nlargest(2,'Total')
print(top_students)

In [15]:
import pandas as pd
df=pd.read_csv(r"C:\Users\shabn\Downloads\student.csv")
df['Total']=df['Math'] + df['Science'] + df['English']
print(df)

      Name  Math  Science  English  Total
0    Alice    85       90       78    253
1      Bob    76       85       88    249
2  Charlie    90       92       95    277
3    David    65       70       60    195
4      Eve    88       80       85    253